@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital@1&family=Oswald&display=swap');

.hompage-index{
    margin:0;
    background-image: url(homepage-photo.png);
    background-size: 100vw 100vh;
}

.bimage{
    width:100vw;
    height:100vh;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding-top:1vw;
    position:relative;
    z-index:3
}

.logo{
    border-radius: 50%;
    width:40px;
    height:40px;
}

a{
    padding:2vw;
    color:white;
    font-family: 'Lato', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:0.3vw;
}

main span{
    width: 20vw;
    height: 13vh;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10vw;
    font-weight: 400;
    line-height: 7vw;
    text-align: center;
    position: relative;
    left:29.5vw;
    top:17vh;
}

.item2{
    letter-spacing:4px;
    font-size: 11vw;
    opacity:0.8;
    color:rgb(9, 9, 68);
}

.item1{
    letter-spacing: 3px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    padding:0.5vw;
}

.ftext{
    width:5vw;
    height:5vh;
    align-self:stretch;
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    margin:0;
    line-height: 22px;
}
.item4{
    opacity:0.8;
    color:rgb(9, 9, 68);
    letter-spacing: 0.8px;
}
footer a{
    color: black;
}

.first img{
    margin-top:10px;
    margin-right:0.5vw;
}

.layer-1{
    position:absolute;
    left:0;
    bottom: 0;
    width:100vw;
    height:100vh;
}

.shimmer{
    opacity: 0.2;
}

/*history page*/
.history{
    background-image: url(peak.png);
    background-size:100vw 100vh;
    margin:0;
}

.list{
    text-align: center;
    background-color:#414f6b;
    opacity:0.8;
}

.carousel-inner img{
    width:15vw;
    height:20vh;
    padding-top:1.5vw;
}

.page1{
    height:74vh;
}

.desc{
    width:50vw;
    height:fit-content;
    margin-left: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc p{
    margin:0;
}

.item{
    display:inline-block ;
    width: 144px;
    height: 124px;
    opacity: 0.5;
    color: #414f6b;
    font-size: 136px;
    font-weight: 700;
    text-align: left;
    font-family: 'Oswald', sans-serif;
}

.item5 > h1{
    margin:0;
    color:rgb(9, 9, 68);
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}

.item5,.dot{
    display: inline-block;
}

.dot{
    opacity: 0.5;
    background-color: #414f6b;
    font-family: 'Oswald', sans-serif;
    width: 20px;
    height: 20px;
}

/*team page 02*/
.team-page{
    margin:0;
}

.climb{
    display: flex;
    gap:1vw;
    margin-left:25vw;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width:60vw;
    height:5vw;
}

.sub-heading{
    background-color: #414f6b;
    height:3vw;
    margin-top: 3vw;
    display:flex;
    padding-left:10vw;
    font-family: 'Bebas Neue', sans-serif;
}

.mtn-link{
    color:lightgray;
    padding:1vw 0;
    margin-right:1vw;
    text-align: center;
    text-decoration: none;
}

.mtn-link:active{
    background-color:lightgrey;
    color:#414f6b;
    text-decoration: underline;
}

#picture{
    background-image: url(page-2-pic.png);
    background-size: 100vw 75vh;
    width:100%;
    height:75vh;
}

.footer{
    background-color: #414f6b;
    color:#63769d;
}

.shade{
    z-index:-2;
    border:1px solid #414f6b;
}

.main{
    position: relative;
}

#data1,#data2{
    display: none;
    width:20vw;
    height:fit-content;
    position:absolute;
    left:10vw;
    top:20vw;
    opacity: 0.6;
    padding:2vw;
    background-color: #fefeff;
}

tr,td{
    padding-right:10px;
}
